* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
a {
    text-decoration: none;
    color: white;
}

h2 {
    font-weight: 900;
}

.navbar {
    background-color: #1F2937;
}

.navbar .container{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    /* margin-left: 200px;
    margin-right: 200px; */
    color: white;

}

.navbar .container .logo{
    font-size: large;
    font-weight: bold;
}

.header {
    background-color: #1F2937;
    color: white;
}

.header .container{
    /* margin-left: 200px;
    margin-right: 200px; */
    padding: 50px 100px 50px;
    display: flex;
    /* padding: 50px 20px 50px; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}

.header .container .content{
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-basis: 4%;
    flex-grow: 2;
    /* margin-bottom: 80px; */

}

.header img{
    /* width: 300px; */
    /* height: 200px; */
    width: 300px;
    height: 200px;
    border-radius: 6px;
}

.box-holder{
    border: solid black;
    flex-basis: auto;
    width: 250px;
    background-color: grey;
}

.header .container .content button{
    background-color: #3882F6;
    color: white;
    padding: 3px 12px 3px;
    border-radius: 6px;
    flex-grow: 0;
    max-width: fit-content;
    border: none;
}

.section {
    display: flex;
    flex-direction: column;
}

.section .container-info{
    text-align: center;
    /* margin-left: 200px;
    margin-right: 200px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 350px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-basis: 200px; */
}

.section .container-info .card{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.section .container-info .title{
    padding-top: 20px;
}

.card .info img{
    height: 150px;
    width: 200px;
    border-radius: 6px;
}

.card .info{
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card .info p{
    padding-top: 20px;
    width: auto;
    /* text-align: center; */
}


.section .container-quote{
    display: flex;
    background-color: #E5E7EB;
    /* height: 350px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;

}

.section .container-quote .quote {
    font-size: x-large;
    /* margin-left: 200px;
    margin-right: 200px; */
    text-align: center;
    
}
.section .container-quote .quote p{
    padding-top: 8px;
    font-size: 20px;
    text-align: end;
    font-weight: bold;
}

.section .container-sign{
    padding: 100px;
    display: flex;
    justify-content: center ;
    align-items: center;
    /* margin-left: 200px;
    margin-right: 200px; */
    color: white;
}

.section .container-sign .box{
    display: flex;
    background-color: #3882F6;
    padding: 40px 100px;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
}

.section .container-sign .box button{
    padding: 0;
    color: white;
    border: solid white;
    border-radius: 6px;
    background-color: #3882F6;
    margin-left: 50px;
    padding: 3px 15px 3px;
    align-items: center;
    flex-shrink: 0;
    
}

.section .container-sign .box .title{
    font-weight: bold;
    font-size: large;
}

.footer{
    text-align: center;

    padding: 30px;
    background-color: #1F2937;
}

.footer .container{
    /* margin-left: 200px;
    margin-right: 200px; */
    color: white;
}

/* Apply padding for screens wider than 950px */
@media only screen and (min-width: 951px) {
    .header .container {
        margin-left: 200px;
        margin-right: 200px;
    }
}

/* Remove the padding for screens 950px and below */
/* @media only screen and (max-width: 950px) {
    .header .container {
        padding-left: 0;
        padding-right: 0;
    }
} */

/* Remove the padding for screens 600px and below */
/* @media only screen and (max-width: 600px) {
    .header .container {
        padding-left: 0;
        padding-right: 0;
    }
} */





